.faq-container {
  max-width: 600px;
  min-width: 400px;
  margin: auto;
  font-family: Arial, sans-serif;
  border: 1px solid #d4d4d4;
  background-color: #eeeeee;
  border-radius: 8px;
  padding: 4px;
}

.faq-item {
  border: solid 1px #ddd;
  margin-bottom: 1px;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.faq-item:hover {
  background-color: #f9f9f9;
}

.faq-question {
  font-weight: bold;
}

.faq-answer {
  margin-top: 10px;
  color: #555;
}
